.cardContainer {
    /* position: relative; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* height: 30vh;
    width: 100%; */
    height: 375px;
    width: 300px;
    border-radius: 15px;
    
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    margin: 2rem;
    align-self: center;
    background-color: rgba(28, 28, 30, 255);
    /* z-index: 4; */
    
  }

  .cardContent {
    display:flex;
    flex-direction: column;
  }

  .cardContent > h3 {
    margin:7px;
    font-size: 1em;
    text-decoration: none;

  }
  .cardContent > h5 {
    margin:3px;
    color: whitesmoke;
  }

  .singleButtonContainer {
    margin: 1rem;  
    background: rgba(49, 48, 53, 255);  
    color: rgba(8, 131, 250, 255);
    font-weight: bold;
    border-radius: 0.6rem;
    border: none;
    cursor: pointer; 
    font-size: 1em;
    padding: 1rem;
    min-width: 10em;
    min-height: 2em;
    position: relative;
    transition: all 0.4s;
    
  }
  .singleButtonContainer:hover {
    background: whitesmoke;  
    color: black;
    
  }