.container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;  
    padding: 10px;
    height: 90px;
}

.navLogo {
    color: black;
    font-size: 25px;
    font-weight: 700;

}

.singleButtonContainer {
    margin: 1rem;  
    background: rgba(49, 48, 53, 255);  
    color: rgba(8, 131, 250, 255);
    font-weight: bold;
    border-radius: 0.6rem;
    border: none;
    cursor: pointer; 
    font-size: 1em;
    padding: 1rem;
    min-width: 10em;
    min-height: 2em;
    position: relative;
    transition: all 0.4s;
    
  }
  .singleButtonContainer:hover {
    background: whitesmoke;  
    color: black;
    
  }